:root {
  --branding-color: bisque;
  --secondary-color: rgb(255, 203, 157);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.about-section {
  padding: 160px 20px;
}
.about-section-content h1 {
  margin-top: 50px;
}
.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h2 {
  font-size: 18px;
  margin-bottom: 50px;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
}
.row {
  margin: 70px 0;
}
#heart-icon {
  font-size: 11px;
  color: rgb(255, 99, 99);
}

.btn-branding {
  border-radius: 4px;
  color: black;
  font-size: 16px;
  background-color: rgb(255, 203, 157);
  padding: 10px 20px;
}
.btn-branding:hover {
  color: white;
}
.btn-branding-outline {
  color: var(--secondary-color);
  background-color: white;
  border: 1px solid;
  border-color: var(--secondary-color);
}
.project-description {
  padding: 0px 50px;
}
@media (max-width: 9000px) {
  .project-description {
    padding: 0px;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  img {
    margin-top: 30px;
  }
}

img {
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--secondary-color);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
